.settings-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #ffffff;
    font-family: Open Sans, sans-serif;
}

.settings-page {
    display: flex;
    flex: 1;
}

.left-column {
    width: 25%;
    padding: 20px;
    background-color: #0077CC;
    color: #fff;
}

.left-column h2 {
    margin-top: 0;
}

.left-column ul {
    list-style: none;
    padding: 0;
}

.left-column li {
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 1.2rem;
    padding-top: 10px;;
}

.left-column li:hover {
    color: #FFCC00;
}

.left-column .selected {
    font-weight: bold;
}

.settings-card {
    flex: 1;
    padding: 20px;
    display: none; /* Initially hide the card */
}

.settings-card.open {
    display: block; /* Display the card when it's open */
}

.settings-card h2 {
    color: #0077CC;
    margin-bottom: 20px;
}

.settings-card h3 {
    color: #005699;
    margin-bottom: 10px;
}
