/* Card.css */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  margin: 10px;
  font-family: "Montserrat";
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-image {
  width: 100%; /* Ensures all images take full width of the card */
  height: 200px; /* Standardizes the height */
  object-fit: contain; /* Makes sure the whole image is visible */
  background-color: #ffffff; /* Provides a neutral background for transparent images */
  
}

.card-title {
  margin: 10px 0 5px;
  font-size: 1.2em;
  color: #333;
  text-align: center;
  font-weight: 400;
}

.card-content {
  padding: 10px;
  width: 100%;
}

.card-text {
  font-size: 1em;
  color: #666;
  text-align: center;
}

.card-name,
.card-price {
  font-size: 1em;
  color: #333;
  text-align: center;
}

.original-price {
  text-decoration: line-through;
  color: #777;
  margin-right: 5px;
}