.header-container {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  font-family: "Montserrat";
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.header-container img {
  height: 60px;
  width: auto;
}

.logo-search-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.search-container {
  width: 414px;
  height: 46px;
  gap: 10px;
  border-width: 1px;
  border-radius: 20.5px;
  border-color: #023047;
  display: flex;
  align-items: center;
  padding-left: 16px;
  color: #023047;
}

.logo-cont {
  display: flex;
  align-items: center;
}

.search-container .icon {
  width: 28px;
  height: 28px;
  margin-right: 8px;
}

.search-container input {
  width: 350px;
  height: 41px;
  border-radius: 20.5px;
  background-color: transparent;
}

.search-container input:focus {
  outline: none;
}

.profile {
  display: flex;
  align-items: center;
  gap: 25px;
  padding-left: 30px;
}

.headerIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  align-content: center;
  justify-content: center;
  background-color: #90e0ef;
  transition-duration: 0.5s;
}

.headerMenuIcon {
  width: 50px;
  height: 40px;
  border-radius: 10%;
  display: grid;
  align-content: center;
  justify-content: center;
  background-color: rgb(251, 251, 251);
  transition-duration: 0.5s;
}

.headerIcon-size {
  width: 30px;
  height: 30px;
}

.headerIcon:hover {
  background-color: #90e0ef;
  transform: scale(1.1);
}

.headerMenuIcon:hover {
  background-color: rgb(224, 224, 224);
  transform: scale(1.1);
}

.navbar ul {
  display: flex;
  height: 100%;
  gap: 20px;
  font-weight: 600;
  color: #434343;
}

@media screen and (max-width: 1080px) {
  .logo-search-container {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .search-container {
    flex-basis: 100%;
    margin-top: 20px;
    order: 1;
  }

  .search-container.hide {
    display: none;
  }

  .navbar {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    height: 100vh;
    width: 70%;
    max-width: 300px;
    padding: 80px 20px 20px;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .navbar ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 600;
    color: #434343;
  }

  .navbar.open {
    transform: translateX(0);
  }

  .logo {
    transform: scale(2.1);
  }

  .username-title {
    display: none;
  }

  .profile {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0;
  }
}
