.header-container {
    margin: 8px 320px 0px 320px;
    display: flex;
    justify-content: space-between;
}

.header-container img {
    height: 60px;
    width: auto;
}

.logo-search-container {
    display: flex;
    align-items: center;
    gap: 60px;
}

.search-container {
    width: 414px;
    height: 46px;
    gap: 10px;
    border-width: 1px ;
    border-radius: 20.5px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    color: #023047;

}

.logo-cont {
    display: flex;
    align-items: center;
}

.search-container .icon {
    width: 28px;
    height: 28px;
    margin-right: 8px;
}

.search-container input {
    width: 350px;
    height: 41px;
    border-radius: 20.5px;
    background-color: transparent;
}

.search-container input:focus {
    outline:none;
}

.profile {
    display: flex;
    align-items: center;
    gap:25px;
}

.headerIcon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: #90e0ef;
    transition-duration: .5s;
}

.headerMenuIcon {
    width: 50px;
    height: 40px;
    border-radius: 10%;
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: rgb(251, 251, 251);
    transition-duration: .5s;
}


.headerIcon-size{
    width: 30px;
    height: 30px;
}

.headerIcon:hover {
    background-color: #90e0ef;
    transform: scale(1.1);
}

.headerMenuIcon:hover {
    background-color: rgb(224, 224, 224);
    transform: scale(1.1);
}